{% extends 'base.html.twig' %}

{% block title %}'Error 404: Camp not found'{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>{{"Kamp niet gevonden"|trans}}!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>The camp you are trying to {{ action }} could not be found!</p>
            </div>
        </div>
    </div>
{% endblock %}
