{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Camp not found!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>The camp you are trying to delete could not be found!</p>
            </div>
        </div>
    </div>
{% endblock %}
